html {
    font-family: 'Robot', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(235, 235, 235);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181d12;
    height: 90vh;
}

h1 {
    margin: 0;
    color: rgb(235, 235, 235);
    text-align: center;
    font-size: 150px;
    text-transform: uppercase;
    word-spacing: 100vw;
    position: relative;
}

.word-container {
    overflow: hidden;
}

@keyframes up {
    100% {
        transform: translateY(0%);
    }
}

.word {
    animation: up 0.8s;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translateY(115%);
}

h1 .word-container:nth-child(2) .word {
    animation-delay: 1.35s;
}

h1 .word-container:nth-child(3) .word {
    animation-delay: 1.5s;
}

h1 .word-container:nth-child(4) .word {
    animation-delay: 1.65s;
}


h2, .arrow {
    display: inline-block;
    font-size: 150px;
    margin: 0;
}

.sections {
    display: flex;
    margin: 8em 12em;
    text-transform: uppercase;
    cursor: pointer;
    justify-content: space-between;
    color: #181d12;
    opacity: 0;
    transform: translateY(5em);
}

.sections:hover {
    color: rgb(235, 235, 235);
    text-shadow: -1px 0 #181d12, 0 1px #181d12, 1px 0 #181d12, 0 -1px #181d12;
}

.section-show {
    transition: opacity 0.8s, transform 0.8s;
    opacity: 1;
    transform: translateY(0);
}

.arrow {
    color: #181d12;
    visibility: hidden;
}

section {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

aside {
    height: 100vh;
    width: 43vw;
    position: fixed;
    color: rgb(235, 235, 235);
    right: -50%;
    top: 0;
    z-index: 300;
    background-color: #181d12;
    transition: right 0.5s;
    overflow-y: auto;
}

.background-fade {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 200;
    background-color: #181d12;
    opacity: 20%;
    visibility: hidden;
}

.bar {
    width: 50px;
    height: 2px;
    background-color: rgb(235, 235, 235);
    position: absolute;
    right:0;
}

.bar1 {
    transform: rotate(45deg);
}

.bar2 {
    transform: rotate(-45deg);
}

.bar-container {
    cursor: pointer;
    position: absolute;
    padding: 2em;
    right: 2%;
    top: 1%;
}

@media (max-width: 1575px) {
    h1, h2, .arrow {
        font-size: 130px;
    }
}

@media (max-width: 1375px) {
    h1, h2, .arrow {
        font-size: 120px;
    }
}